nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
}

.menu {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.item-menu {
    list-style-type: none;
}

.item-link {
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
    font-weight: 300;
}